---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1?api_key=<API_KEY>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - 5ef0f36e1049afbcf98468dc8b67d701f1298abf
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '17526'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Wed, 20 Oct 2021 19:41:18 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/genre/movie/list?api_key=<API_KEY>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - af4426908218dad356a942000911b15f14e85c85
      X-Memc-Age:
      - '1238'
      X-Memc-Expires:
      - '13537'
      Etag:
      - W/"98d6f4fb3a0e0c77544a7277f32baebb"
    body:
      encoding: ASCII-8BIT
      string: '{"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science
        Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]}'
  recorded_at: Wed, 20 Oct 2021 19:41:18 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1/credits?api_key=<API_KEY>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - d6a37b51f35faf71a3a1b3548a83680296aec6b2
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '16878'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Wed, 20 Oct 2021 19:41:19 GMT
recorded_with: VCR 6.0.0
